<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    ">

    <!-- Spring -->
    <import resource="config/spring/resource-placeholder.xml" />
    <import resource="config/spring/utils.xml" />
    <import resource="config/spring/spring-tiles2-conf.xml"/>
    <import resource="config/spring/security-config.xml"/>
    <import resource="config/spring/security-beans.xml"/>
    <import resource="config/spring/spring-mail.config.xml"/>

    <!-- Hibernate -->
    <import resource="config/hibernate/hibernate.xml"/>
</beans>
